<h1>Darkmire server</h1>

Your session: <?=session?>
<br>
Encryption (HTTPS): <?=https?>

<br>

<form name="form" method="POST" action=".">
<fieldset>
<legend>Personal information:</legend>
Name: <input name="name" type="text" size="30"><br>
E-mail: <input name="email" type="text" size="30"><br>
Date of birth: <input name="birth" type="text" size="10">
<input type="submit" value="Submit">
</fieldset>
</form>
